/node_modules
/public/1
/public/img_wares
/public/hot
/public/storage
/public/fontawesome
/app/Http/Controllers/CatController.php
/app/Http/Controllers/ContactController.php
/app/Http/Controllers/WareController.php
/app/Http/Controllers/TabController.php
/resources/views/*.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
